[Unit]
Description=Raspberry Pi ConfigFS USB Composite Gadget

After=systemd-modules-load.service local-fs.target
Wants=network-pre.target
Before=network-pre.target

[Service]
Type=simple

ExecStart=/usr/local/sbin/usb-gadget watch
ExecStop=/usr/local/sbin/usb-gadget stop

Restart=on-failure
RestartSec=2

TimeoutStartSec=30
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
